<!DOCTYPE html>
<html>

<head>
  <title>{{pageTitle}}</title>
  <link rel="stylesheet" href="./css/lol.css">
  </head>

<body>
  
{{! displays if the user is logged in }}
          {{#if username}}
            <p id='loggedin'><span>Logged in as</span>
              <em style='font-weight: 800'>{{username}}</em></p>
          {{/if}}
        </div>
        <nav>
          <img src="../images/TechBlogLogo.png" width="350" height="350" align="bottom">
          <a class='navItem' href='/'>Home</a>
                <a class='navItem' href='/dashboard'>Dashboard</a>
                {{#if loggedIn}}
                  <a class='navItem' id='/logout'>Logout</a>
                {{else}}
                  <a class='navItem' href='/login'>Login</a>
          {{/if}}
        </nav>

        <div id='bg'></div>
      </header>
      <main>
        {{{body}}}
      </main>
    </div>
  </body>
</html>
{{#if loggedIn}}
  <script src='/public/js/logout.js'></script>
{{/if}}