<script src="/js/login.js"></script>
<div class='login-container'>
  <h1>LogIn</h1>
  <form id='login-form'>
<input type="email" id="email-input" placeholder="Email *required" />
    <input
      type='password'
      id='password-login'
      placeholder='Password  *required'
    />
    <h1 id='signin-status'>Please sign in</h1>
    <button id='login-btn' type='submit'>LogIn</button>
  </form>
</div>
